<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <% list.forEach(function(one) { %>
        <li><%= one.title %></li>
      <% }) %>
    </ul>
  </body>
</html>
