<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/twitter-bootstrap/4.3.0/js/bootstrap.min.js"></script>
  </head>
  <body class="container">
    <nav class="navbar navbar-light bg-light">
      <% if(logined) { %>
        <a type="button" class="btn btn-success" data-toggle="modal" data-target="#addmodal">
          添加
        </a>
        <a type="button" class="btn btn-success" href="/logout">
          退出
        </a>
      <% } else { %>
      <a type="button" class="btn btn-success" data-toggle="modal" data-target="#loginmodal">
        登陆
      </a>
      <% } %>
    </nav>
    <br/>
    <ul class="list-group">
      <% list.forEach(function(one, i) { %>
        <li class="list-group-item">
          <%= one.title %>

          <% if(logined){ %>
            <a class="btn btn-primary" href="/del?i=<%=i%>">删除</a>
            <a class="btn btn-primary" data-toggle="modal" data-target="#updatemodal" onclick="get(<%=i%>)">编辑</a>
          <% } %>
        </li>
      <% }) %>
    </ul>
    
    <!-- 备注：可以模板化通用一个modal,这里演示不做封装，用多个 -->
    <!-- 添加modal -->
    <form action="/add" method='post' class="modal" tabindex="-1" id="addmodal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">添加标题</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>
              <input type="text" name='title'> 标题
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <input type="submit" class="btn btn-primary" value="添加" />
          </div>
        </div>
      </div>
    </form>
    <!-- 编辑modal -->
    <form action="/update" method='post' class="modal" tabindex="-1" id="updatemodal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">编辑标题</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>
              <input type="hidden" name='i'>
              <input type="text" name='title'> 标题
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <input type="submit" class="btn btn-primary" value="提交" />
          </div>
        </div>
      </div>
    </form>
    <!-- 登陆modal -->
    <form action="/login" method='post' class="modal" tabindex="-1" id="loginmodal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">登陆</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label>
              用户名
              <input type="text" name='name'>
            </label>
            <label>
              密码
              <input type="text" name='pwd'>
            </label>
            <label>
              <img src="/captcha" onclick="this.src='/captcha?' + Math.random()" alt="">
              <input type="text" name='captcha' placeholder="图片验证码">
            </label>
            <br/>
            <br/>
            <div>【备注：服务器端硬编码】用户名：Joh 密码：123</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <input type="submit" class="btn btn-primary" value="提交" />
          </div>
        </div>
      </div>
    </form>

    <script>
      function get(i) {
        $.get('/get/' + i, function(res) {
          $('#updatemodal input[type="text"]').val(res.title);
          $('#updatemodal input[type="hidden"]').val(i);
        })
      }
    </script>

  </body>
</html>